.container{
    -fx-background-fill: black, white ;
    -fx-background-insets: 0, 1 ;
}

.fruit{
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover, auto;
}

.fruit.fruit0{
    -fx-background-image: url("images/0.png");
}

.fruit.fruit1{
    -fx-background-image: url("images/1.png");
}
.fruit.fruit2{
    -fx-background-image: url("images/2.png");
}
.fruit.fruit3{
    -fx-background-image: url("images/3.png");
}
.fruit.fruit4{
    -fx-background-image: url("images/4.png");
}
.fruit.fruit5{
    -fx-background-image: url("images/5.png");
}
.fruit.fruit6{
    -fx-background-image: url("images/6.png");
}
.fruit.fruit7{
    -fx-background-image: url("images/7.png");
}
.fruit.fruit8{
    -fx-background-image: url("images/8.png");
}
.fruit.fruit9{
    -fx-background-image: url("images/9.png");
}
.fruit.fruit10{
    -fx-background-image: url("images/10.png");
}

.cell {
    -fx-background-color: black, white;
    -fx-background-insets: 0, 0 1 1 0 ;
}
.cell.on {
    -fx-background-color: black, red;
    /*-fx-background-insets: 0, 0 1 1 0 ;*/
}
.cell.first-row {
    -fx-background-insets: 0, 1 1 1 0 ;
}
.cell.first-column {
    -fx-background-insets: 0, 0 1 1 1 ;
}
.cell.first-row.first-column {
    -fx-background-insets: 0, 1 ;
}

.result{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.value{
    -fx-text-fill: red;
}